<div class="col-md-3 sidebar bg-light">
  <ul class="nav flex-column">
    {{ $currentPage := . }}
    {{ range .Site.Menus.sidebar }}
      <li class="nav-item">
        <h4>{{ .Name }}</h4>
        {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
            <li class="{{ if eq $currentPage.RelPermalink .URL }}active{{ end }} nav-item">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</div>